@import url('https://fonts.googleapis.com/css2?family=Handjet&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

$font-handjet: 'Handjet', cursive;
$font-open-sans: 'Open Sans', sans-serif;
$color-black: #000000;