@import url('https://fonts.googleapis.com/css2?family=Handjet&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

$font-handjet: 'Handjet', cursive;
$font-nunito: 'Nunito', sans-serif;
$color-black: #000000;