@use './config';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-size: 16px;
    font-family: config.$font-open-sans;
    font-weight: 600;
    line-height: 1.5;
    background-color: config.$color-black;
    color: yellow;
}