@use './config';

.game-container {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    gap: 20px;
    width: 100%;

}

@media only screen and (min-width: 1024px) {
    .game-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 90%;
        margin: 0 auto;

    }
}