@use './config';

.filters {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 24px auto 60px auto;

    .input-filters-wrapper {
        display: flex;
        flex-direction: column;

        label {
            margin: 0 auto;
        }

        input {
            width: 50%;
            margin: 0 auto 8px auto;
            padding: 4px;
            border: none;
            border-radius: 6px;
            font-size: 16px;
        }
    }

    .filter-buttons-wrapper {
        margin: 0 auto;

        button {
            padding: 6px;
            margin-right: 8px;
            width: 70px;
            border: 2px solid red;
            background-color: yellow;
            font-family: config.$font-nunito;
            text-transform: uppercase;
            font-weight: 600;
            border-radius: 6px;
        }
    }
}

.game-container {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    gap: 20px;
    width: 90%;
    margin: 40px auto 0 auto;

}

.page-btns {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;

    button {
        padding: 8px;
        border-radius: 8px;
        border: 2px solid red;
        background-color: yellow;
        font-size: 26px;
        font-family: config.$font-nunito;
        text-transform: uppercase;
        font-weight: 600;
        display: flex;
    }
}


@media only screen and (min-width: 768px) {
    .game-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .filters {
        display: flex;
        flex-direction: row;
        justify-content: center;
        .input-filters-wrapper {
            display: flex;
            flex-direction: row;
            align-items: center;
            input {
                width: 30%;
                margin: 0 auto;
                padding: 6px;
            }

            label {
                margin-right: -8px;
            }
        }

        .filter-buttons-wrapper {
            display: flex;
            align-items: center;
            margin: 0;
        }
    }
}