@use './config';

.game-container {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    gap: 20px;
    width: 90%;
    margin: 40px auto 0 auto;

}

.page-btns {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;

    button {
        padding: 8px;
        border-radius: 8px;
        border: 2px solid red;
        background-color: yellow;
        font-size: 26px;
        font-family: config.$font-nunito;
        text-transform: uppercase;
        font-weight: 600;
        display: flex;
    }
}

@media only screen and (min-width: 768px) {
    .game-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}