@use './config';

.home {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 90%;
    margin: 40px auto 0 auto;
}

.hor-line {
    border: 1px solid red;
}

@media only screen and (min-width: 768px) {
    .home {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 90%;
        margin: 40px auto 0 auto;

    }
}