@use './config';

.home {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    gap: 20px;
    width: 100%;

    .game-card {
        width: 100%;
        margin: 0 auto;
        padding: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 8px;
        background-color: lighten($color: config.$color-black, $amount: 3%);
        font-size: 18px;

        &:last-child {
            margin-bottom: 40px;
        }

        .game-link {
            color: yellow;
            text-decoration: underline;
        }

        #normal-price {
            text-decoration: line-through;
        }
    }
}

.hor-line {
    border: 1px solid red;
}

.loading-text {
    text-align: center;
    margin-top: 40px;
}


@media only screen and (min-width: 1024px) {
    .home {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .game-card {
            width: 30%;
            margin: 0 auto;
            padding: 40px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            background-color: lighten($color: config.$color-black, $amount: 5%);
            font-size: 18px;
        }

    }
}