@use './config';

.navbar {
    font-weight: 600;
    .navbar-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        margin: 0 auto;

        .logo-container {
            width: 100%;

            #title {
                font-family: config.$font-handjet;
                padding: 20px 0 20px 0;
                font-size: 3em;
                text-align: center;
                text-transform: uppercase;
            }
        }

        .navbar-links {
            font-size: 22px;
            display: flex;
            align-items: center;
            justify-content: center;

            a {
                text-decoration: none;
                font-family: config.$font-handjet;
                text-transform: uppercase;
                background-color: yellow;
                color: black;
                border: 2px solid red;
                border-radius: 6px;
                width: 80px;
                text-align: center;
            }
        }
    }
}


@media only screen and (min-width: 1024px) {
    .navbar {
        .navbar-wrapper {
            flex-direction: row;
            height: 150px;
            width: 80%;
            margin: 0 auto;

            .logo-container {

                #title {
                    text-align: start;
                    font-size: 4em;
                }
            }

            .navbar-links {
                align-items: baseline;
                justify-content: right;

                a {
                    padding: 4px 20px;
                    border-radius: 2px;
                    width: 80%;
                    margin: 0 auto;
                    letter-spacing: 2px;
                }
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    .navbar {
        .navbar-links {
            gap: 20px;
        }
    }
}